version: "3.8"
services:
  db:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_DB: tennis
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  scraper:
    build: .
    environment:
      TENNIS_EMAIL: ${TENNIS_EMAIL}
      TENNIS_PASSWORD: ${TENNIS_PASSWORD}
      PG_HOST: db
      PG_PORT: 5432
      PG_DB: tennis
      PG_USER: postgres
      PG_PASSWORD: 1234
    depends_on:
      - db

volumes:
  pgdata:
